{% extends "base.html" %} {% block content %}
<h2>{{ dashboard_user.full_name }}'s Clinical Trials</h2>
<ul>
	{% for trial in trials %}
	<li>
		<strong>{{ trial.title }}</strong><br />
		<a href="https://clinicaltrials.gov/study/{{ trial.nct_id }}" target="_blank"
			>{{ trial.nct_id }}</a
		><br />
		Type: {{ trial.study_type }}<br />
		Phase: {{ trial.phase }}<br />
		Status: {{ trial.status }}<br />
		Start: {{ trial.start_date }}<br />
		Completion: {{ trial.completion_date }}<br />
		Submitted: {{ trial.submitted }}
	</li>
	<hr />
	{% endfor %}
</ul>
{% endblock %}
